* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: cadetblue;
}

.genre_title {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    color: darkblue;
    font-size: 80vh;
    
}